#crestContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crests {
  width: 9%;
}

.crests:hover {
  width: 10%;
  transition: 0.5s all;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoTitle {
  display: flex;
  align-items: center;
}

img {
  width: 60px;
}

#teamCrest {
  width: 35%;
}

article {
  display: flex;
  margin-top: 30px;
  border-bottom: 2px dashed black;
  flex-wrap: wrap;
}

#teamContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

#statisticsContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

#fixturesContainer {
  margin-top: 10px;
  display: none;
  flex-wrap: wrap;
}

.gameContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

#buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.map {
  margin: 5px;
  width: 50%;
  height: 200px;
  border: 1px solid black;
}

.fixtureCrest {
  width: 30px;
}
